{% extends 'base.html' %}
<h1>Expense List</h2>
<ul class= "list-group">
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
<li class= "list-group-item">items purchased</li>
</ul>